# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.env
.venv
env/
venv/
ENV/
lawvenv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db 

# Database
db.sqlite3

# Data
data/

# Other
et
h
